.item-grid {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: space-between; 
    padding: 50px; 
    margin: 50px;
    box-sizing: border-box;
    list-style-type: none;
  }

.item-grid li .doctor-card.expanded {
    display: block; 
}

.doctor-card {
    border: 1px solid #ddd;
    padding: 15px;
    box-sizing: border-box; 
    text-align: center;
    flex: 1 1 calc(33.333% - 16px);
    max-width: 300px; 
    margin-bottom: 16px;
    transition: all 0.3s ease;
    position: relative;
  }

.doctor-card.expanded {
    border: 2px solid #007bff;
    background-color: #f0f8ff;
}

.doctor-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.reviews {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px; 
    background-color: #f9f9f9; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.reviews ul {
    list-style-type: None;
    padding: 0;
    margin: 0; 
}

.reviews li {
    padding: 10px 0; 
    border-bottom: 1px solid #ddd; 
}

.reviews li:last-child {
    border-bottom: none; 
}

.review-comment {
    margin: 0; 
    font-size: 16px; 
    color: #333; 
}


.review-timestamp {
    margin-top: 5px;
    font-size: 14px; 
    color: #333; 
}